:root {
  --color-accent: #ee6161;
  --color-accent-faded:#ee61614b;
  --color-primary: #151d41;
  --color-primary-faded:#151d418a;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  
padding:0 16vw;
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
  margin: 0;

}
*,
*:after,
*:before {
  box-sizing: border-box;
}

header{
margin-bottom: 70px;
}
header>nav {
  display: flex;
  /* justify-content: space-evenly; */

}
header>nav>div{
    flex-grow: 1;
}
header>nav > .logo-container {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary-faded);
  align-items: center;
 
}
header>nav > .logo-container > .logo__image {
  height: 40px;
  width: 40px;
  margin-right: 1.5rem;
}
header>nav > .nav__links  {
         
          list-style-type: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 0;
          padding: 0;
    
}
.link:link,
.link:visited {
    transition: .2s;
    font-size: 2rem;
    position: relative;
    text-decoration: none;
    color: var(--color-primary);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.link::after{
    content:"";
    position: absolute;
    top: 110%;
    left: 0;
    background-color: var(--color-accent);
    width:100%;
    z-index: 2;
    transform:scaleX(0);
    height: 2px;
    transition: all .2s;
    -webkit-transform:scaleX(0);
    -moz-transform:scaleX(0);
    -ms-transform:scaleX(0);
    -o-transform:scaleX(0);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.link:hover::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.nav__links .link:first-child:link,
.nav__links .link:first-child:visited{
  color: var(--color-accent) !important;
}
.nav__links .link:first-child:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.link:hover{
    color: var(--color-accent);
}


.hamburger-menu{
  /* display:none; */
  position: relative;
}
.hamburger-menu>.dropdown-list{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
}
.grid{
    display: grid;
    height: 90vh;
    /* margin-top:100px; */
    gap: 3rem;
    grid-template-columns:1fr 1fr ;
}
.vertical-flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* justify-content:center; */
}
.vertical-flex>*{
  margin-bottom:20px;
}
.vertical-flex>div:last-child{
  margin-top: 50px;
}
.chip{
    padding: .8rem 1.9rem;
    display: inline-block;
    background-color: var(--color-accent-faded);
    color: var(--color-accent);
    /* color: #fff; */
    font-size: 1.4rem;
    font-weight: bold;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
}
.heading{
    color: var(--color-primary);
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height:1.5;
}
.description{
    color: var(--color-primary-faded);
    font-size: 2rem;
    text-transform: capitalize;
    line-height:2;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding:15px 40px;
    font-weight: bold;
    font-size:2rem;
    color: #fff;
    background-color: var(--color-accent);
    border-radius: 4rem;
    transition:all .2s;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    box-shadow: 0 3px 15px var(--color-accent);
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition:all .2s;
}
.btn:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    opacity: 0.8;
}
.btn:focus {
    box-shadow:0 3px 3px var(--color-accent);
}
.svg-image{
  /* height: calc(100% - 40rem); */
  height: auto;
  width:100%;
  max-width: 500px;
  /* width: 250px; */
}
.center-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.list{
  display: flex;
  justify-content:space-around;
  margin:10px 0!important;
  /* flex-wrap: wrap; */
}
.sub-list{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:flex-start;
}
.list-item{
  position: relative;
  font-size: 1.6rem;
  color: var(--color-primary);
  font-style: italic;
  font-weight:600;
}
.list-item:not(:first-child){
  margin-top:20px;
}
.list-item:before{
  position: absolute;
  left: -20px;
  top:5px;
  content:"";
  width:10px;
  border-radius: 10px;
  height:10px;
  background-color: var(--color-accent);
  z-index: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.animate-left{
  -webkit-animation:moveInLeft 1s ease-in-out;
  animation:moveInLeft 1s ease-in-out;
}
.animate-right{
  animation: moveInRight 1s ease-in-out;
  -webkit-animation: moveInRight 1s ease-in-out;
}
@-webkit-keyframes moveInRight {
0%{
  opacity: 0;
  transform:translateX(-100px);
  -webkit-transform:translateX(-100px);
  -moz-transform:translateX(-100px);
  -ms-transform:translateX(-100px);
  -o-transform:translateX(-100px);
}
100%{
  opacity: 1;
  transform:translateX(0);
  -webkit-transform:translateX(0);
  -moz-transform:translateX(0);
  -ms-transform:translateX(0);
  -o-transform:translateX(0);
}
}


@keyframes moveInRight {
0%{
  opacity: 0;
  transform:translateX(-100px);
  -webkit-transform:translateX(-100px);
  -moz-transform:translateX(-100px);
  -ms-transform:translateX(-100px);
  -o-transform:translateX(-100px);
}
100%{
  opacity: 1;
  transform:translateX(0);
  -webkit-transform:translateX(0);
  -moz-transform:translateX(0);
  -ms-transform:translateX(0);
  -o-transform:translateX(0);
}
}
@-webkit-keyframes moveInLeft {

  0%{
    opacity: 0;
    transform:translateX(100px)  ;
    -webkit-transform:translateX(100px)  ;
    -moz-transform:translateX(100px)  ;
    -ms-transform:translateX(100px)  ;
    -o-transform:translateX(100px)  ;
}
100%{
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
}
@keyframes moveInLeft {

  0%{
    opacity: 0;
    transform:translateX(100px)  ;
    -webkit-transform:translateX(100px)  ;
    -moz-transform:translateX(100px)  ;
    -ms-transform:translateX(100px)  ;
    -o-transform:translateX(100px)  ;
}
100%{
  opacity: 1;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
}