:root {
  --color-accent: #ee6161;
  --color-accent-faded:#ee61618a;
  --color-primary: #151d41;
  --color-primary-faded:#151d418a;
}

html {
  font-size: 62.5%;
}
body {
padding:0 20vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;

}
*,
*:after,
*:before {
  box-sizing: border-box;
}

header>nav {
  display: flex;
 
  /* justify-content: space-evenly; */

}
header>nav>div{
    flex-grow: 1;
}
header>nav > .logo-container {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary-faded);
  align-items: center;
}
header>nav > .logo-container > .logo__image {
  height: 40px;
  width: 40px;
  margin-right: 1.5rem;
}
header>nav > .nav__links  {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.link:link,
.link:visited {
    transition: .2s;
    font-size: 2rem;
    position: relative;
    text-decoration: none;
    color: var(--color-primary);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.link::after{
    content:"";
    position: absolute;
    top: 110%;
    left: 0;
    background-color: var(--color-accent);
    width:100%;
    z-index: 2;
    transform:scaleX(0);
    height: 2px;
    transition: all .2s;
    -webkit-transform:scaleX(0);
    -moz-transform:scaleX(0);
    -ms-transform:scaleX(0);
    -o-transform:scaleX(0);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.link:hover::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.nav__links .link:first-child:link,
.nav__links .link:first-child:visited{
  color: var(--color-accent) !important;
}
.nav__links .link:first-child:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.link:hover{
    color: var(--color-accent);
}

.grid{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr)) ;
}
.vertical-flex{
    display: flex;
    flex-direction: column;
}
.chip{
    padding: .8rem;
    background-color: var(--color-accent-faded);
    color: var(--color-accent);
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}
.heading{
    color: var(--color-primary);
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height:2;
}
.description{
    color: var(--color-primary-faded);
    font-size: 2rem;
    text-transform: capitalize;
    line-height:2;
}
.btn:link,
.btn:visited{
    display: inline-block;
    text-decoration: none;
    padding:15px 40px;
    font-weight: bold;
    font-size:2rem;
    color: #fff;
    background-color: var(--color-accent);
    border-radius: 4rem;
    transition:all .2s;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    box-shadow: 0 3px 15px var(--color-accent);
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition:all .2s;
}
.btn:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    opacity: 0.8;
}
.btn:focus {
    box-shadow:0 3px 3px var(--color-accent);
}