:root {
  --color-accent: #ee6161;
  --color-accent-faded:#ee61614b;
  --color-primary: #151d41;
  --color-primary-faded:#151d418a;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
padding:0 16vw;
  font-family: "Segoe UI", "Tahoma", "Geneva", "Verdana", "sans-serif";
  margin: 0;

}
*,
*:after,
*:before {
  box-sizing: border-box;
}
a{
  outline: 0;
}
header{
margin-bottom: 70px;
}
header>nav {
  display: flex;
}
header>nav>div{
    flex-grow: 1;
}
header>nav > .logo-container {
  display: flex;
  font-size: 2rem;
  font-weight: bold;
  color: var(--color-primary-faded);
  align-items: center;
 
}
header>nav > .logo-container > .logo__image {
  height: 40px;
  width: 40px;
  margin-right: 1.5rem;
}
header>nav > .nav__links  {
          display: flex;
          justify-content: space-between;
          align-items: center;
}
.link:link,
.link:visited {
    transition: .2s;
    font-size: 2rem;
    position: relative;
    text-decoration: none;
    color: var(--color-primary);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
.link::after{
    content:"";
    position: absolute;
    top: 110%;
    left: 0;
    background-color: var(--color-accent);
    width:100%;
    z-index: 2;
    transform:scaleX(0);
    height: 2px;
    transition: all .2s;
    -webkit-transform:scaleX(0);
    -moz-transform:scaleX(0);
    -ms-transform:scaleX(0);
    -o-transform:scaleX(0);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
}
.link:hover::after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.nav__links .active:link,
.nav__links .active:visited{
  color: var(--color-accent) !important;
}
.nav__links .active:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
}
.link:hover{
    color: var(--color-accent);
}


.hamburger-menu{
  /* display:none; */
  display:none;
  justify-content:flex-end;
  align-items: center;
  position: relative;
}
.hamburger-menu>.dropdown-list{
  /*display: none;
  */background-color: #fff;
  flex-direction: column;
  /*border: 1px solid var(--color-accent);
  */box-shadow: 0 0 15px #ee61611c;
  border-radius: 15px;
  position: absolute;
  top: 100%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.dropdown-list>.dropdown--link:link,
.dropdown-list>.dropdown--link:visited{
  text-align:left;
  padding: 1rem 4rem;
  transition: .2s;
    font-size: 2rem;
    z-index: 10;
    position: relative;
    text-decoration: none;
    color: var(--color-primary);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}

.dropdown-list>.dropdown--link:hover{
  color: #fff;
}
.dropdown-list>.active:link,
.dropdown-list>.active:visited{
  color: white;
  background-color: var(--color-accent);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.dropdown--link::before{
  content:"";
  position: absolute;
  background-color: var(--color-accent);
  width:100%;
  height:100%;
  z-index: -2;
  border-radius: 15px;
  top: 0;
  left: 0;
  transform-origin: center;
  transform:scaleX(0);
  transition: all .2s;
  -webkit-transform:scaleX(0);
  -moz-transform:scaleX(0);
  -ms-transform:scaleX(0);
  -o-transform:scaleX(0);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.dropdown--link:hover::before {
  transform: scaleX(1);
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
}

.card{
  box-shadow: 0 0 5px rgb(207, 207, 207);
  margin-bottom: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.flex{
  display: flex;
}
.flex-center{
  align-items: center;
}
.flex-justify-center{
  justify-content: center;
}
.grid{
    display: grid;
    height: 90vh;
    margin-bottom:50px;
    gap: 3rem;
    grid-template-columns:1fr 1fr ;
}
.grid:nth-child(odd){
  background-color: #ee616105;
}
.vertical-flex{
    display: flex;
    flex-direction: column;
    justify-content:center;
    /* justify-content:center; */
}
.vertical-flex>*{
  margin-bottom:20px;
}
.vertical-flex>div:last-child{
  margin-top: 50px;
}
.chip{
    padding: .8rem 1.9rem;
    display: inline-block;
    background-color: var(--color-accent-faded);
    color: var(--color-accent);
    /* color: #fff; */
    text-transform: capitalize;
    font-size: 1.4rem;
    font-weight: bold;
    border-radius:50px;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    -ms-border-radius:50px;
    -o-border-radius:50px;
}
.heading{
    color: var(--color-primary);
    font-size: 3.5rem;
    font-weight: bold;
    text-transform: capitalize;
    line-height:1.5;
}
.description{
    color: var(--color-primary-faded);
    font-size: 2rem;
    text-transform: capitalize;
    line-height:2;
}
.btn,
.btn:link,
.btn:visited{
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    font-size:2rem;
    border-radius: 4rem;
    transition:all .2s;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    -webkit-transition:all .2s;
    -moz-transition:all .2s;
    -ms-transition:all .2s;
    -o-transition:all .2s;
}
.btn--raised:hover{
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
    opacity: 0.8;
}
.btn:active {
    box-shadow:none;
}
.btn--outlined{
  box-shadow: 0 0 15px var(--color-accent-faded);
  /* border: 1px solid var(--color-accent); */
  color: var(--color-accent);
  background-color: #fff;
  padding:1rem 2.5rem;
}
.btn--raised{
  padding:1.5rem 4rem;
  color: #fff;
  background-color: var(--color-accent);
  box-shadow: 0 3px 15px var(--color-accent);
}
.btn-outlined--raised{
  box-shadow: 0 0 15px #ee616125;
  /* border: 1px solid var(--color-accent); */
  color: var(--color-accent);
  background-color: #fff;
  padding:1rem 2.5rem;
}
.btn-outlined--raised:hover{
  color: #fff;
  background-color: var(--color-accent);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.svg-image{
  /* height: calc(100% - 40rem); */
  height: auto;
  width:100%;
  max-width: 500px;
  /* width: 250px; */
}
.center-item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.list{
  display: flex;
  justify-content:space-around;
  margin:10px 0!important;
  /* flex-wrap: wrap; */
}
.sub-list{
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:flex-start;
}
.list-item{
  position: relative;
  font-size: 1.6rem;
  color: var(--color-primary);
  font-style: italic;
  font-weight:600;
}
.list-item:not(:first-child){
  margin-top:20px;
}
.list-item:before{
  position: absolute;
  left: -20px;
  top:5px;
  content:"";
  width:10px;
  border-radius: 10px;
  height:10px;
  background-color: var(--color-accent);
  z-index: 1;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footer{
  padding: 3rem 0;
  z-index: 2;
  position: relative;
}
.footer>*:last-child{
  margin-top: 10px!important;
}
.floating-image{
  z-index: -5;
  position: absolute;
  height: 70px;
  width: 70px;
}
.float-left{
  bottom: 0;
  left: 0
}
.float-right{
  bottom: 0;
  right: 0;
}
.fix-image{
  width: 80%;
}